# macOS
.DS_Store

# Firebase / Node
firebase/functions/node_modules/
firebase/functions/.env
firebase/functions/.env.*
firebase/service-account-key.json
firebase-debug.log
firebase/service-account-key.json

# Local server temp
_site/
firebase/functions/phytowatch-firebase-adminsdk-fbsvc-84cb2fd1ad.json
node_modules/
